<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUpuNdV9Pxc2lMU_BiEycVgpexek5dkcc</string>
	<key>GCM_SENDER_ID</key>
	<string>794629270109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuba.BeRealClone</string>
	<key>PROJECT_ID</key>
	<string>bereal-3f6a8</string>
	<key>STORAGE_BUCKET</key>
	<string>bereal-3f6a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794629270109:ios:a74c636bf5502173053bb4</string>
</dict>
</plist>